@model TrabajoFinal.ViewModel.ClientePlanesVM
@{
    ViewBag.Title = "MisPlanes";
    Layout = "~/Views/Shared/_LayoutCliente.cshtml";
}

<h2>Mis Planes</h2>

<div class="nav">

</div>
<div id="container">
    <table class="table-bordered table-responsive table-hovered" align="center" height="250">
        <thead>
            <tr>
                <th> ID Cliente </th>
                <th> ID Plan </th>
                
               
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.lstClientePlanes)
            {
                <tr>
                    <td> @item.IDCliente </td>
                    <td> @item.IDPlan </td>
                    

                </tr>
            }
        </tbody>
    </table>
    <div></div>
</div>



