@model TrabajoFinal.ViewModel.AsociadoVM
@{
    ViewBag.Title = "Asociados";
    Layout = "~/Views/Shared/_LayoutAdministrador.cshtml";
}

<h2>Asociados</h2>

<div class="nav">

</div>
<div id="container">
    <table class="table-bordered table-responsive table-hovered" align="center" height="250">
        <thead>
            <tr>
                <th> ID  </th>
                <th> Nombre </th>
                <th> Apellido </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.LstAsociados)
            {
                <tr>
                    <td> @item.IDAsociado </td>
                    <td> @item.Nombre </td>
                    <td> @item.Apellido </td>
                </tr>
            }
        </tbody>
    </table>
    <div></div>
    <a class="btn btn-primary" href="@Url.Action("AddEditAsociado","Administrador", new { ID = ""})"> <i class="fa fa-plus"></i> Agregar</a>
</div>